## Datacenters

The API is only accessible via HTTPS and the current version is <code>v2</code>, which results in a base URL like: <code>https://api.phrase.com/v2/</code> depending on the datacenter.

### EU Datacenter
```
https://api.phrase.com/v2/
```

This is the default datacenter.

### US Datacenter
```
https://app.us.phrase.com/api/v2/
```
