## Datacenters

The API is only accessible via HTTPS and the current version is <code>v2</code>, which results in a base URL like: <code>{{{basePath}}}</code> depending on the datacenter.

### EU Datacenter
```
{{{basePath}}}
```

This is the default datacenter.

### US Datacenter
```
https://app.us.phrase.com/api/v2/
```
