clients/go/
clients/java/
clients/php/
clients/python/

clients/ruby/.*
clients/ruby/Gemfile*
clients/ruby/Rakefile
clients/ruby/README.md
clients/ruby/git_push.sh
clients/ruby/openapitools.json
clients/ruby/*.gemspec
clients/ruby/spec/*.rb
clients/ruby/spec/api/*
clients/ruby/spec/models/
clients/ruby/docs
clients/ruby/lib
clients/ruby/spec/api/*
!clients/ruby/spec/api/locales_api_spec.rb

clients/typescript/
clients/cli/cmd/api_*.go
clients/cli/phrase-cli

doc/*.css
doc/*.css.map
doc/*.js
tmp/
node_modules/
.DS_Store
