clients/go/

clients/python/*
!clients/python/test/test_locales_api.py
!clients/python/test/test_uploads_api.py

clients/ruby/.*
clients/ruby/Gemfile*
clients/ruby/Rakefile
clients/ruby/README.md
clients/ruby/git_push.sh
clients/ruby/openapitools.json
clients/ruby/*.gemspec
clients/ruby/spec/*.rb
clients/ruby/spec/api/*
clients/ruby/spec/models/
clients/ruby/docs
clients/ruby/lib
clients/ruby/spec/api/*
!clients/ruby/spec/api/locales_api_spec.rb
!clients/ruby/spec/api/uploads_api_spec.rb

clients/java/.*
clients/java/gradle*
clients/java/build*
clients/java/docs
clients/java/git_push.sh
clients/java/pom.xml
clients/java/README.md
clients/java/openapitools.json
clients/java/settings.gradle
clients/java/api
clients/java/src/main
clients/java/src/test/java/com/phrase/client/model
clients/java/src/test/java/com/phrase/client/api/*
!clients/java/src/test/java/com/phrase/client/api/LocalesApiTest.java
!clients/java/src/test/java/com/phrase/client/api/UploadsApiTest.java

clients/typescript/.*
clients/typescript/src
clients/typescript/package.json
clients/typescript/package-lock.json
clients/typescript/README.md
clients/typescript/tsconfig.json

clients/php/.*
clients/php/composer.*
clients/php/*.sh
clients/php/README.md
clients/php/phpunit.*
clients/php/docs
clients/php/lib
clients/php/vendor
clients/php/test/Model
clients/php/test/Api/*
!clients/php/test/Api/LocalesApiTest.php
!clients/php/test/Api/UploadsApiTest.php

clients/cli/cmd/api_*.go
clients/cli/phrase-cli

doc/*.css
doc/*.css.map
doc/*.js
tmp/
node_modules/
.DS_Store
clients/cli/README.md