openapi: 3.0.3

info:
  title: Phrase API Reference
  description: 
    $ref: "./intro.yaml#/description"
  version: 2.0.0
  x-logo:
    url: "https://developers.phrase.com/images/phrase-logo.png"
    backgroundColor: "#0091eb"
    altText: "Phrase"

servers:
  - url: https://api.phrase.com/v2

security:
  - Token: []
  - Basic: []

components:
  securitySchemes:
    Token:
      type: apiKey
      in: header
      name: Authorization
      description: Enter your token in the format **token TOKEN**
    Basic:
      type: http
      scheme: basic

  headers:
    X-PhraseApp-OTP:
      description: The number of allowed requests in the current period
      schema:
        type: string
    X-Rate-Limit-Limit:
      description: The number of allowed requests in the current period
      schema:
        type: integer
    X-Rate-Limit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        type: integer
    X-Rate-Limit-Reset:
      description: The number of seconds left in the current period
      schema:
        type: integer

  schemas:
    space:
      type: object
      properties:
        id:
          type: string
        nane:
          type: string
        projects_count:
          type: integer
          format: int32
    errors:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              resource:
                type: string
              field:
                type: string
              message:
                type: string
      example:
        message: Validation Failed
        errors:
          - resource: Resource
            field: name
            message: "can't be blank"

  parameters:
    X-PhraseApp-OTP:
      in: header
      name: X-PhraseApp-OTP
      description: Two-Factor-Authentication token
      required: false
      allowEmptyValue: false
      schema:
        type: string
    account_id:
      in: path
      name: account_id
      required: true
      schema:
        type: string
    page:
      in: query
      name: page
      required: false
      allowEmptyValue: false
      schema:
        type: integer
      example: 1
    per_page:
      in: query
      name: per_page
      description: allows you to specify a page size up to 100 items, 10 by default
      required: false
      allowEmptyValue: false
      schema:
        type: integer
      example: 10

  responses:
    400:
      description: Bad request
    404:
      description: Not Found
    422:
      description: Unprocessable entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
    429:
      description: Rate Limiting
      headers:
        X-Rate-Limit-Limit:
          $ref: '#/components/headers/X-Rate-Limit-Limit'
        X-Rate-Limit-Remaining:
          $ref: '#/components/headers/X-Rate-Limit-Remaining'
        X-Rate-Limit-Reset:
          $ref: '#/components/headers/X-Rate-Limit-Reset'
    503:
      description: Server error

paths:
  /accounts/{account_id}/spaces:
    get:
      summary: List all Spaces for the given account.
      operationId: spaces
      tags:
        - Spaces
      parameters:
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/X-PhraseApp-OTP'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        200:
          description: A JSON array of spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/space'
              example: 
                [
                  {
                    "id": "2e7574e8f2372906a03110c2a7cfe671",
                    "name": "My first space",
                    "created_at": "2020-02-25T12:17:25Z",
                    "updated_at": "2020-03-13T14:46:57Z",
                    "projects_count": 2,
                    "projects": [
                      {
                        "id": "abcd1234cdef1234abcd1234cdef1234",
                        "name": "My Android Project",
                        "main_format": "xml",
                        "project_image_url": "http://assets.example.com/project.png",
                        "account": "account",
                        "created_at": "2015-01-28T09:52:53Z",
                        "updated_at": "2015-01-28T09:52:53Z"
                      },
                      {
                        "id": "abcd11231fadef1234adacd1234cdef1234",
                        "name": "My IOS Project",
                        "main_format": "yml",
                        "project_image_url": "http://assets.example.com/project2.png",
                        "account": "account",
                        "created_at": "2015-01-28T09:52:53Z",
                        "updated_at": "2015-01-28T09:52:53Z"
                      }
                    ]
                  },
                  {
                    "id": "2e7574e8f2372906a03110c2a7cfe671",
                    "name": "My first space",
                    "created_at": "2020-02-25T12:17:25Z",
                    "updated_at": "2020-03-13T14:46:57Z",
                    "projects_count": 2,
                    "projects": [
                      {
                        "id": "abcd1234cdef1234abcd1234cdef1234",
                        "name": "My Android Project",
                        "main_format": "xml",
                        "project_image_url": "http://assets.example.com/project.png",
                        "account": "account",
                        "created_at": "2015-01-28T09:52:53Z",
                        "updated_at": "2015-01-28T09:52:53Z"
                      },
                      {
                        "id": "abcd11231fadef1234adacd1234cdef1234",
                        "name": "My IOS Project",
                        "main_format": "yml",
                        "project_image_url": "http://assets.example.com/project2.png",
                        "account": "account",
                        "created_at": "2015-01-28T09:52:53Z",
                        "updated_at": "2015-01-28T09:52:53Z"
                      }
                    ]
                  }
                ]
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        429:
          $ref: '#/components/responses/429'
      x-code-samples:
        - lang: CLI
          source: phraseapp spaces list <account_id>


    post:
      summary: Create space
      operationId: space_create
      tags:
        - Spaces
      parameters:
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/X-PhraseApp-OTP'
        - in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        201:
          description: A JSON array of space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/space'
        400:
          $ref: '#/components/responses/400'
        422:
          $ref: '#/components/responses/422'
        429:
          $ref: '#/components/responses/429'
      x-code-samples:
        - lang: CLI
          source: "phraseapp space create <account_id> --name \"My Android Projects\""
