$spacing1: 2px;
$spacing2: 4px;
$spacing3: 8px;
$spacing4: 10px;
$spacing5: 12px;
$spacing6: 16px;
$spacing7: 20px;
$spacing8: 32px;

$borderRadius2: 2px;
$borderRadius3: 3px;

$colorAccentBackground: #03eab3;
$colorAccentForeground: #fff;
$colorPrimaryBorder: #DADADA;
$colorPrimaryForeground: #242424;
$colorSecondaryForeground: #ADADAD;
$mutedBackground: #FBFBFB;

$colorDarkGrey: #555;
$colorLightGrey: #CCC;

$colorEmphasizedBackground: #f7f7f7;
$colorCodeBackground: #000;
$menuHoverForeground: #000;

$fontPrimary: Inter, Verdana, sans-serif;
$fontCode: Menlo, monospace;

$fontSize2: 12 / 16 * 1rem;
$fontSize3: 13 / 16 * 1rem;
$fontSize4: 14 / 16 * 1rem;
$fontSize5: 18 / 16 * 1rem;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightSemiBold: 600;

$breakpointMd: 800px;

$mobileHeaderHeight: 54px;
