@import 'variables';

@font-face {
  font-family: 'Menlo';
  src: local('Menlo Regular'), local('Menlo-Regular'),
      url('fonts/Menlo-Regular.woff2') format('woff2'),
      url('fonts/Menlo-Regular.woff') format('woff');
  font-weight: $fontWeightNormal;
  font-style: normal;
  font-display: swap;
}

.nav-logo {
  margin: -16px -30px 0 -16px;
  background: $colorAccentBackground;

  &__img {
    display: block;
    margin: 0 auto;
    padding: $spacing6 0;
    height: 22px;
  }
}

rapi-doc {
  --nav-accent-color: #{$colorPrimaryBorder};
  --nav-hover-bg-color: #{$colorPrimaryBorder};
  min-width: 320px !important; /* override weird rapidoc styling */
}

.nav-bar-h2 {
  padding: $spacing4;
  border-left: $spacing2 solid transparent;
  display: block;
  font-size: $fontSize4;
  font-family: $fontPrimary;
  color: $colorPrimaryForeground;
  text-decoration: none;

  &:first-child {
    margin-top: $spacing8;
  }
}
