@import 'variables';

@font-face {
  font-family: 'Menlo';
  src: local('Menlo Regular'), local('Menlo-Regular'),
      url('fonts/Menlo-Regular.woff2') format('woff2'),
      url('fonts/Menlo-Regular.woff') format('woff');
  font-weight: $fontWeightNormal;
  font-style: normal;
  font-display: swap;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorAccentBackground;

  &__img {
    display: block;
    height: 22px;
    padding: 0 0 16px 0;
  }
}

.footer {
  text-align: center;
  padding: 8px 0;

  &__link {
    font-size: 12px;
    padding: 0 10px;
    color: $colorAccentBackground;
  }
}

rapi-doc {
  --nav-accent-color: #{$colorPrimaryForeground};
  --nav-hover-bg-color: #{$colorPrimaryBorder};
}

rapi-doc::part(btn-search) {
  padding: 8px;
}
rapi-doc::part(textbox-nav-filter) {
  --nav-accent-color: #dadada;
}
