{{#hasAuthMethods}}
{{#authMethods}}
{{#isApiKey}}
configuration = {{{packageName}}}.Configuration()
configuration.api_key['{{{keyParamName}}}'] = 'YOUR_API_KEY'
configuration.api_key_prefix['{{{keyParamName}}}'] = 'token'
{{/isApiKey}}
{{/authMethods}}
{{/hasAuthMethods}}
