name: Dispatch Developer Hub on PR merge

on:
  pull_request:
    types: [closed]

jobs:
  dispatch:
    # Only run this job if the pull request was merged into the main branch
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Send repository_dispatch to phrase/developer-hub
        uses: peter-evans/repository-dispatch@0eae9e597ebc81bcc8c2220e34ddff4bc7c769b3
        with:
          token: ${{ secrets.DISPATCH_DEVELOPER_HUB_TOKEN }}
          repository: phrase/developer-hub
          event-type: trigger-strings-workflow
          client-payload: >-
            {
              "source": "phrase/openapi",
              "type": "update",
              "pr_author": "${{ github.event.pull_request.user.login }}",
              "pr_url": "${{ github.event.pull_request.html_url }}"
            }
